// Variables

$bgcolor: #09002E;

html {
    font-family: sans-serif;
    background-color: $bgcolor;
}

header {
    display: flex;
    justify-content: center;
    img {
        width: 175px;
        height: 175px;
        object-fit: contain;
    }
}