html {
    font-family: sans-serif;
    background-color: #09002E;
}

header {
    display: flex;
    justify-content: center;
    img {
        width: 175px;
        height: 175px;
        object-fit: contain;
    }
}